.custom-footer {
    background-color: #004976; 
    padding: 20px 30px;
}

.footer-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; 
    height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer-logo {
    width: 292px;
    height: auto;
}
