<div class="partners">
  <img src="{{ url_for('static', filename='photos/uni-salle-logo.jpg') }}" class="partner-logo">
  <img src="{{ url_for('static', filename='photos/hua-partner.png') }}" class="partner-logo">
  <img src="{{ url_for('static', filename='photos/gfoss-partner.jpg') }}" class="partner-logo">
  <img src="{{ url_for('static', filename='photos/burgos_uni_partner.jpg') }}" class="partner-logo">
  <img src="{{ url_for('static', filename='photos/antalaya-partner.jpg') }}" class="partner-logo">
  <img src="{{ url_for('static', filename='photos/sapple-partner.jpg') }}" class="partner-logo">
  <img src="{{ url_for('static', filename='photos/digicult-partner.png') }}" class="partner-logo">
</div>


