<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Blockly Project</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!-- <script src="https://unpkg.com/blockly"></script> -->
  <script src="{{ url_for('static',filename='modules/blockly.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/blockly_compressed.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/blocks_compressed.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/msg/'+locale+'.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/jquery-3.5.0.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/python_compressed.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/buffer@6.0.3')}}"></script>
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  <!-- <script src="{{ url_for('static',filename='js/control.js')}}"></script> -->
  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>
  <script defer src="{{ url_for('static',filename='js/blockly-page.js')}}"></script>

  {%if not kindergarten %}
  <script defer src="{{ url_for('static',filename='js/blockly/workspace_'+locale+'.js')}}"></script>
  {% else %}
  <script defer src="{{ url_for('static',filename='js/blockly/workspace_simple.js')}}"></script>
  {% endif %}

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>


  <link href="{{ url_for('static',filename='fontawesome/css/fontawesome.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/brands.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/solid.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/blockly-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
  </style>
</head>

{% if not kindergarten %}
<body onload="loadProjectFromDB()">
{% else %}
<body>
{% endif %}

</body>
  {% include 'common/header.html' %}
  </br>
  <div id="main-container">

    <div class="row custom_row">
      <div class="col-8">
        <div class="drop_shadow" id="blocklyDiv"></div>
      </div>

      <div id="buttons-container-right" class="col-4">

        <div id="button_headers_row">
          <div id="button_fa_wrap">
             {%if not kindergarten %} 
              <a onclick="saveXmlToDB('{{ project_id }}')" href="#" id="open-home-href"
                 style="color: rgb(24, 21, 148); text-decoration: none;">
                  <i class="fa-solid fa-floppy-disk"></i>
              </a>
              {%endif%}
          </div>
          <div id="button_fa_wrap">
              <a href='/' style="color: rgb(255, 136, 0); text-decoration: none;">
                  <i class="fa-solid fa-house"></i>
              </a>
          </div>
      </div>
        
        <!-- {%if not kindergarten %}
        <div id='button__headers_row'>          
          <div id="button_fa_wrap">
            <a onclick="saveXmlToDB('{{ project_id }}')" href="#" id="open-home-href"
              style="color: rgb(24, 21, 148); text-decoration: none;">
              <i class="fa-solid fa-floppy-disk"></i>
            </a>

          </div>
          {%else%}
          <div id='button__headers_row_one_icon'>
          {% endif %}

          <div id="button_fa_wrap">
            <a href='/' style="color: rgb(255, 136, 0); text-decoration: none;">
              <i class="fa-solid fa-house"></i>
            </a>
          </div>
        </div> -->

        {% if robot_mode=="coppelia" %}
        <div class="embed-responsive embed-responsive-16by9" width="640" height="480">
          <iframe class="embed-responsive-item" src="http://127.0.0.1:23020/"></iframe>
        </div>
        <br>
        <div id="button__controls_row">
          <button class="btn btn-success" onClick="window.open('http://127.0.0.1:23020');">{{
            gettext('Window')}}</button>

          <select id="stage_select" class="form-select">
            <option value="-1" selected>Select stage</option>
            {% for scene in scenes %}
            <option>{{scene}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary" onClick="openMapForStage()">Load stage</button>
          <!-- <div id="button_fa_wrap_controls_small">
           
            <a onclick="open_map()" href="#"  style="color: rgb(23, 76, 155); text-decoration: none;">
            <i class="fa-solid fa-globe"></i>
            </a>
          </div> -->

        </div>
        {% endif %}

        {%if not kindergarten %}
        <div class="drop_shadow" id="terminal_div">
          <div id="terminal_scrollable-content">
            <p>FossBot Terminal...</p>
          </div>
        </div>
        {% endif %}

        <div id="button__controls_row">

          <div id="button_fa_wrap_controls">
            <a onclick="runBlocklyCode('{{ project_id }}')" href="#" style="color: rgb(56, 199, 0); text-decoration: none;">
              <i class="fa-solid fa-circle-play"></i>
            </a>
          </div>
          <div id="button_fa_wrap_controls">
            <a onclick="stopScript()" href="#" style="color: rgb(199, 30, 0); text-decoration: none;">
              <i class="fa-solid fa-circle-stop"></i>
            </a>
          </div>
          {% if robot_mode=="coppelia" %}
          <div id="button_fa_wrap_controls">
            <a onclick="resetStage()" href="#" style="color: rgb(253, 165, 1); text-decoration: none;">
              <i class="fa-solid fa-circle-dot"></i>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <!-- toolbox -->
  {%if not kindergarten %}
    {% include 'editors/blockly_toolbox/full.html' %}
  {% else %}
    {% include 'editors/blockly_toolbox/cards.html' %}
  {% endif %}

  <!-- modal : error -->
  {% include 'modals/modal-error.html' %}

  <!-- modal : success -->
  {% include 'modals/modal-success.html' %}

</body>

</html>