<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monaco Project</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <script src="{{ url_for('static',filename='modules/msg/'+locale+'.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/jquery-3.5.0.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/blockly_compressed.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/python_compressed.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/buffer@6.0.3')}}"></script>
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>


  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>
  <script defer src="{{ url_for('static',filename='js/monaco-page.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>
  <link href="{{ url_for('static',filename='fontawesome/css/fontawesome.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/brands.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/solid.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/monaco-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
  </style>
</head>

<body onload="loadProject()" onclick="closeModalSuccessOrErrorwhenClickAnywhere()">
  {% include 'header.html' %}
  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"
    integrity="sha256-0SGl1PJNDyJwcV5T+weg2zpEMrh7xvlwO4oXgvZCeZk=" crossorigin="anonymous">
    </script>

  <div id="main-container">

    <div class="row no-gutters">
      <div class="col-md-2 col-sm-12 col-12 col-lg-2">
        <div class="drop_shadow" id="left-column">

          <h6 id="copy-instructions">Click copy icon to copy function.</h6>
          {% for category, commands in instructions['commands'].items() %}
          <button class="accordion">{{ category }}</button>
          <div class="panel">
            {% for item in commands %}
            {% set command = item['command'] %}
            <div>
              <br>
              <p>{{item['name']}}.</p>
              <p>{{item['description']}}.</p>
              <p style="font-weight: bold;">
                {{command}} <i onclick="copyFunction('{{command}}')" class="fa-solid fa-copy" style="cursor: copy;"></i>
              </p>
            </div>
            {% endfor%}
          </div>
          {% endfor%}

        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-12 col-lg-7">
        <div class="drop_shadow textedit" id="container"></div>
      </div>

      <div class="col-md-2 col-sm-12 col-12 col-lg-2" id="buttonsterminal">

        <div id='button__headers_row'>
          <div id="button_fa_wrap">
            <a onclick="save_xml('{{ project_id }}')" href="#" id="open-home-href"
              style="color: rgb(24, 21, 148); text-decoration: none;">
              <i class="fa-solid fa-floppy-disk"></i>
            </a>

          </div>

          <div id="button_fa_wrap">
            <a href='javascript:history.back()' style="color: rgb(255, 136, 0); text-decoration: none;">
              <i class="fa-solid fa-house"></i>
            </a>
          </div>
        </div>

        <div class="drop_shadow" id="terminal_div">
          <div id="terminal_scrollable-content">
            <p>FossBot Terminal...</p>
          </div>
        </div>

        <br>
        
        <div id="button__controls_row">

          <div id="button_fa_wrap_controls">
            <a onclick="runCode('{{ project_id }}')" href="#" style="color: rgb(56, 199, 0); text-decoration: none;">
              <i class="fa-solid fa-circle-play"></i>
            </a>
          </div>
          <div id="button_fa_wrap_controls">
            <a onclick="stop_script()" href="#" style="color: rgb(199, 30, 0); text-decoration: none;">
              <i class="fa-solid fa-circle-stop"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- {% include 'footer.html' %} -->
  </div>

  <!-- modal : error -->
  {% include 'modal-error.html' %}

  <!-- modal : success -->
  {% include 'modal-success.html' %}

</body>

</html>