<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 25px;
      background-color: white;
      color: black;
      font-size: 25px;
    }

    .dark-mode {
      background-color: rgb(39, 36, 36);
      color: white;
    }

    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }
    
    .active, .accordion:hover {
      background-color: #ccc;
    }
    
    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  </style>
  <title>Monaco Project</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  
  <script src="{{ url_for('static',filename='modules/msg/'+locale+'.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/jquery-3.5.0.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/python_compressed.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/buffer@6.0.3')}}"></script>
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  
  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>
  <script defer src="{{ url_for('static',filename='js/monaco-page.js')}}"></script> 

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>
  <link href="{{ url_for('static',filename='fontawesome/css/fontawesome.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/brands.css')}}"  rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/solid.css')}}"  rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/all.css')}}"  rel="stylesheet">

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/monaco-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
  </style>
</head>

<body onload="loadProject()" onclick="closeModalSuccessOrErrorwhenClickAnywhere()">
  {% include 'header.html' %}
<br>
  <script
			src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"
			integrity="sha256-0SGl1PJNDyJwcV5T+weg2zpEMrh7xvlwO4oXgvZCeZk="
			crossorigin="anonymous"
		></script>
    
    <script>
      function copyFunction(functionName) {
        const textarea = document.createElement('textarea');
        textarea.value = functionName;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
    
        alert('Copied: ' + functionName);
      }
    </script>

  <div id="main-container" style="display: flex;">
      
      

    <div class="row custom_row no-gutters">
      <div class="col">
        <div class="drop_shadow" id="left-column" style="width: 100%; min-height: 100%; background-color: rgb(202, 201, 200);">

          <h6 style="font-weight: bold;">Click on the function name to copy it.</h6>
          {% for item in instructions['commands'] %}
          {% set command = item['command'] %}
          
          <button class="accordion" style="font-weight: bold;">{{item['name']}}</button>
          <div class="panel">
            <br>
            <p>{{item['description']}}.</p>
            <i class="fa-solid fa-copy"></i>
            <p onclick="copyFunction('{{command}}')" style="font-weight: bold;">{{command}}</p>
            
    
          </div>
          {% endfor%}


          <!-- <button class="accordion" style="font-weight: bold;">Movement</button>
          <div class="panel">
            <p onclick="copyFunction('just_move()')" style="font-weight: bold;">-- just_move(self, direction: str = "forward")</p>
            <p><small> Move forward/backwards. <br>
              Param: direction: the direction to be headed to.</small>
            </p>
            <p onclick="copyFunction('move_distance()')" style="font-weight: bold;">-- move_distance(self, dist: float, direction: str = "forward")</p>
            <p><small>  Moves to input direction (default == forward) a specified - input distance (cm). <br>
              Param: dist: the distance to be moved (in cm). <br>
              direction: the direction to be moved towards.</small>
            </p>

          </div>

          <button class="accordion" style="font-weight: bold;">Moving Forward</button>
          <div class="panel">
            <p onclick="copyFunction('move_forward_distance()')" style="font-weight: bold;">-- move_forward_distance(self, dist: float)</p>
            <p><small>Moves robot forward input distance. <br>
              Param: dist: the distance (cm) to be moved by robot.</small>
            </p>
          </div> -->

          <script>
          var acc = document.getElementsByClassName("accordion");
          var i;

          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
              } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
              } 
            });
          }
          </script>
        </div>  
      </div>
      <div class="col-9" >        
        <div class="drop_shadow" id="container" style="width:70%; min-height: 100%; "></div>
      </div>
      
        <div id="buttons-container-right" class="col" style="margin-left: -10px;">

          <div id='button__headers_row'>
            <div id="button_fa_wrap">
              <a onclick="save_xml('{{ project_id }}')" href="#" id="open-home-href" style="color: rgb(24, 21, 148); text-decoration: none;">
              <i class="fa-solid fa-floppy-disk"></i>
              </a>
              
            </div>
            
            <div id="button_fa_wrap" >
              <a href='/'   style="color: rgb(255, 136, 0); text-decoration: none;">
              <i class="fa-solid fa-house"></i>
              </a>
            </div>
         </div>  
         <div class="col-3">
          <div class="drop_shadow" id="terminal_div" style="margin-left: -10px; width: 150px">
            <div id="terminal_scrollable-content">
              <p>FossBot Terminal...</p>
            </div>
          </div>
        </div>
      <br>
        <div id="button__controls_row">

        <div id="button_fa_wrap_controls">
          <a onclick="runCode('{{ project_id }}')" href="#"  style="color: rgb(56, 199, 0); text-decoration: none;">
          <i class="fa-solid fa-circle-play"></i>
          </a>
        </div>
        <div id="button_fa_wrap_controls">
          <a onclick="stop_script()" href="#"  style="color: rgb(199, 30, 0); text-decoration: none;">
          <i class="fa-solid fa-circle-stop"></i>
          </a>
        </div>
      </div>
      </div>
    </div>
    <!-- {% include 'footer.html' %} -->
  </div>

  <!-- modal : error -->
  {% include 'modal-error.html' %}

  <!-- modal : success -->
  {% include 'modal-success.html' %}

</body>
</html>